* {
    box-sizing: border-box;
    -webkit-animation: mymove 5s; /* Safari 4.0 - 8.0 */
    animation: mymove 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

body {
	width: 90%;
	margin-left: 5%;
  background-color: #02010a;
  font-family: Dancing Script;
}

header{
  background-color:  #5b7989;
  border-radius: 10px;
	padding-top: 1vh;
	padding-left: 1vw;
  width: 90%;
	margin: auto;

}
header h1{
  color:white;
  text-shadow: 2px 2px #02010a;

}
.topnav {
  padding: 1vh 1vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

  }

.topnav a {
    color: white;
    text-align: center;
    padding: 1vh 1vw;
    font-size:20px;
}

.topnav a:hover:not(.active) {
    background-color: #111;

}

.topnav a.active {
    background-color: #4CAF50;
}

.topnav a.unvisited{
  text-decoration: underline;
}

.topnav a.visited {
  text-decoration: none;
}

.contenido {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contenido img{
  padding: 20px;
  width: 25vw;
  height: 30vh;
}

#img1 {
  filter:blur(10px);
}

#img2 {
  filter:grayscale(100%);
}

#img3 {
  filter:sepia(90%);
}

#img4 {
  filter:grayscale(100%);
}

#img5 {
  filter:opacity(30%);
}

#img6 {
  filter:grayscale(100%);
}

.contfooter {
    display:flex;
    justify-content: space-around;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #C6d5c5;
    width: 90%;
    margin-left: 5%;
}

.contacto {
  padding: 20px;
}

.termino {
	 padding: 20px;
}

.RedesSociales {
	padding: 20px;
}

.derechos {
	 padding: 20px;
}

@media screen and (max-width: 900px){
header h1{
      margin:auto;
      width: 100%;
      display: block;
      text-align: center;
    }
.topnav{
    background-color:  #5b7989;
    display: flex;
    width: 100%;
    margin:auto;
    padding: 0px;
		flex-direction: column;


}
.contenido{
  max-width: 100%;
	display: flex;
  flex-direction: column;
}

.contenido img{
  padding: 20px;
  width: 100%;
  height: 100%;
}

.contfooter {
    flex-direction: column;
  }
