* {
    box-sizing: border-box;
}

body {
	width: 90%;
	margin-left: 5%;
  background-color: #02010a;
  font-family: Dancing Script;
}

header{
  background-color:  #5b7989;
  border-radius: 10px;
	padding-top: 1vh;
	padding-left: 1vw;
  width: 100%;
	margin: auto;

}
header h1{
  color:white;
  text-shadow: 2px 2px #02010a;

}
.topnav {
  padding: 1vh 1vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

  }

.topnav a {
    color: white;
    text-align: center;
    padding: 1vh 1vw;
    text-decoration: none;
    font-size:17px;
}

.topnav a:hover:not(.active) {
    background-color: #111;
}

.topnav a.active {
    background-color: #4CAF50;
}

.contenido{
  max-width: 900px;
	display: flex;
}
#imagencentral{
	background:  #82c3a6;
	margin: 20px;
	padding: 30px;
	display: flex;
	justify-content: center;
	width: 50vw;
}
#imagencentral img {
    height: auto;

}
#imagensecundaria {
	display: flex;
	flex-direction: row;
	padding: 20px;
	background: #d5c75f;
	border: 1px solid;
}

#imagensecundaria img{
	width: 40vw;
	height: 30vh;
	margin: 10px;
	padding: 10px;
}

#img2:hover {
	transform: rotate(10deg);
	box-shadow: 2px 2px #82c3a6;
}

#img3:hover{
	transform: translate(20px, -5px);
	box-shadow: 2px 2px #82c3a6;
}

.contfooter {
    display:flex;
    justify-content: space-around;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #C6d5c5;
}

.contacto {
  padding: 20px;
}

.termino {
	 padding: 20px;
}

.RedesSociales {
	padding: 20px;
}

.derechos {
	 padding: 20px;
}


@media screen and (max-width: 900px){
header h1{
      margin:auto;
      width: 100%;
      display: block;
      text-align: center;
    }
.topnav{
    background-color:  #5b7989;
    display: flex;
    width: 100%;
    margin:auto;
    padding: 0px;
		flex-direction: column;


}
.contenido{
  max-width: 100%;
	display: flex;
}
#imagencentral img{
  display: block;
  width:80%;
  top: 50px;
}
#imagensecundaria {
	display: flex;
	flex-direction: column;
	width: 50%;
 	top: 50px;
}
.contfooter {
    flex-direction: column;
  }
}
